/* BUTTONS
* --------------------------------------------------
*/

.btn {
  border-radius: 0px;
  padding: .75rem 1.5rem;
  font-weight: 700;
}

.btn.cta {
  background-color: #FF7900;
  font-size: 28px;
  color: #fff;
}

/* SECTIONS
* --------------------------------------------------
*/

section h2 {
  color: #FF7900;
  font-size: 40px;
  font-weight: 700;
}

section > div > p {
  max-width: 70%;
  margin-bottom: 40px;
}

section {
  font-size: 24px;
  font-weight: 700;
}

section .icons p {
  font-size: 18px;
}

section p {
  font-weight: 700;
}



/*HEADER SPLIT SCREEN*/

/* Row with equal height columns
* --------------------------------------------------
*/
.row-eq-height {
 display: -webkit-box;
 display: -webkit-flex;
 display: -ms-flexbox;
 display:         flex;
}

.header-img {
  background-image: url(../assets/header/header-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-cta {
  background-color: #000;
  color: #FFF;
  text-align: left;
  padding: 3rem;
}

.header-cta h1 {
  color: #FF7900;
  font-size: 75px;
  font-weight: 700;
}

.header-cta p {
  color: #FFF;
  font-size: 55px;
  font-weight: 700;
}

.header-cta h1, .header-cta p  {
  margin-bottom: 2rem;
}



/* SECTION ICONS
* --------------------------------------------------
*/

.icons h3 {
  color: #FF7900;
  font-weight: 300;
  margin: 1rem 0;
  font-size: 30px
}

.icons span {
  font-weight: 700;
}

.icons img {
  height: 100px;
  margin: 0 auto;
}

.icons p {
  font-size: 24px;
}


/* SECTION FILTRE
* --------------------------------------------------
*/

.section-filtre {
  background-color: #4BB4E6;
}

.section-filtre .form-control {
  border-radius: 0;
  border: 2px solid #000;
}

.btn.submit {
  color: #FFF;
  background-color: #FF7900;
  padding: 7px 40px;
}



/* SECTION CARD MAP
* --------------------------------------------------
*/

.section-carte .card {
  border-width: 0px;
}

.section-carte h4 {
  font-size: 24px;
  color: #FF7900;
}

.section-carte .card-body {
  padding: 1.25rem 0 .75rem;
}

.section-carte .card-footer {
  font-size: 16px;
  background-color: #fff;
  border-top-width: 0px;
  padding: 0 0 .75rem;
}

.section-carte .card-footer:last-child {
  border-radius: 0;
}

/* SECTION CAROUSEL ACTUALITES
* --------------------------------------------------
*/

.carousel-caption {
  text-align: left;
  background-color: #8F8F8F;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px 50px;
}

.carousel-caption h2 {
  font-size: 40px;
  color: #fff;
}

.carousel-caption p {
  font-size: 24px;
}

.carousel-indicators .active {
  background-color: #FF7900;
}

.carousel-indicators li {
  background-color: rgba(255,121,0,.5);
  height: 7px;
  margin-right: 7px;
  margin-left: 7px;
}

#carouselActualites .carousel-control-next,
#carouselActualites .carousel-control-prev {
  background-color: rgba(255,255,255,.65);
  width: 10%;
  color: #FF7900;
  height: 10%;
  top: 50%;
  transform: translateY(-50%);
}

#carouselActualites .carousel-control-next:focus, #carouselActualites .carousel-control-next:hover,
#carouselActualites .carousel-control-prev:focus, #carouselActualites .carousel-control-prev:hover {
  color: #FF7900;
}

@media (max-width: 414px) {

  /* HEADER */

  .header-img {
    min-height: 300px;
  }

  .header-cta {
    padding: 1rem;
  }

  .header-cta h1 {
    font-size: 40px;
  }

  .header-cta p {
    font-size: 24px;
  }

  .header-cta h1, .header-cta p  {
    margin-bottom: 1rem;
  }

  /* BUTTONS */

  .btn.cta {
    font-size: 18px;
  }

  /* SECTIONS */

  section h2 {
    font-size: 30px;
  }

  section p {
    font-size: 20px;
  }

  .icons h3 {
    font-size: 22px;
  }


}

@media (min-width:414px) and (max-width:768px) {

  /* HEADER */

  .header-img {
    min-height: 400px;
  }

  .header-cta {
    padding: 2rem;
  }

  .header-cta h1 {
    font-size: 50px;
  }

  .header-cta p {
    font-size: 32px;
  }

  /* BUTTONS */

  .btn.cta {
    font-size: 22px;
  }


  /* SECTIONS */

  section h2 {
    font-size: 32px;
  }

  section p {
    font-size: 22px;
  }

  .icons h3 {
    font-size: 24px;
  }

}

@media (min-width:769px) and (max-width:1199px) {

  /* HEADER */

  .header-cta h1 {
    font-size: 65px;
  }

  .header-cta p {
    font-size: 36px;
  }

  /* BUTTONS */
  .btn.cta {
    font-size: 24px;
  }

}


@media (min-width:1200px) {

  /* HEADER */
  .header-img {
    min-height: 800px;
  }

  .header-cta {
    padding: 3rem 5rem;
  }

}
